<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HiveSharer Profile</title>
    <link rel="stylesheet" href="/profile.css">
    <script src="profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://kit.fontawesome.com/fd3de1e3ee.js" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.25.3/moment.min.js"></script>
    <link rel="stylesheet" href="./css.css">
    <script src='jquery.js'></script>
    <script>
    //laoding animation
    function onReady(callback) {
      var intervalId = window.setInterval(function() {
        if (document.getElementsByTagName('body')[0] !== undefined) {
          window.clearInterval(intervalId);
          callback.call(this);
        }
      }, 1000);
    }

    function setVisible(selector, visible) {
      document.querySelector(selector).style.display = visible ? 'block' : 'none';
    }

    onReady(function() {
      setVisible('.wrapper', true);
      setVisible('#loading', false);
    });
    </script>
  </head>
  <body onload="start()">
      <div id="loading"></div>
      <div class="wrapper">
      <div class="profile-card js-profile-card">
        <div class="profile-card__img">
          <img src="" id='profile_image' alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
          <a id='profile_link' href=''><div class="profile-card__name"><div id='name'></div></div></a>
          <div class="profile-card__txt"><div id='about'></div></div>
          <div class="profile-card-loc">
              <div id='location'></div>
          </div>

          <div class="profile-card-inf">
            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title"><div id='post_count'></div></div>
              <div class="profile-card-inf__txt">Posts</div>
            </div>

            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title"><div id='followers'></div></div>
              <div class="profile-card-inf__txt">Followers</div>
            </div>

            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title"><div id='following'></div></div>
              <div class="profile-card-inf__txt">Following</div>
            </div>
          </div>

          <div class="profile-card-ctr">
            <button class="profile-card__button button--orange" id='tip_button'>Tip</button>
          </div>
          <a href='/'>homepage</a>
          <script>
            function profileTip(username){
              Swal.mixin({
                input: 'text',
                confirmButtonText: 'Next &rarr;',
                showCancelButton: true,
                progressSteps: ['1', '2']
              }).queue([
                {
                  title: 'Amount',
                  input: 'number',
                  text: 'How much HIVE would you like to send?'
                },
                {
                  title: 'Message',
                  text: 'Say something nice!'
                }
                ]).then((result) => {
                if (result.value) {
                  var amount = parseFloat(result.value[0]).toFixed(3)
                  var memo = result.value[1] + ' [HiveSharer Tip]'
                  hive_keychain.requestTransfer('', username, amount, memo, 'HIVE', function(response) {
                    console.log(response);
                  });
                  Swal.fire({
                    title: 'All done!',
                    html: `
                      Pay with Keychain for Hive:
                      <pre><code>${amount} HIVE</code> to <code>${username}</code> with memo <br><code>${memo}</code>!</pre>
                    `,
                    confirmButtonText: 'Done!'
                  })
                }
              })
            }
          </script>
        </div>

      </div>

    </div>

    <div id='posts'></div>
    <div id='modal'></div>

    <script>
    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
           urlParams[decode(match[1])] = decode(match[2]);
    })();

    function start(){
      var account = urlParams["account"] || 'fbslo'
      $.ajax({
        url: '/api/profile?account='+account,
        contentType: "application/json",
        dataType: 'json',
        success: function(result){
          console.log("API result: " + JSON.stringify(result))
          if(result.success == true) {
            var {username, name, profile_image, about, location, post_count,followers, following} = result
            document.getElementById('name').innerHTML += name
            document.getElementById('about').innerHTML += about
            document.getElementById('location').innerHTML += location
            document.getElementById('post_count').innerHTML += post_count
            document.getElementById('followers').innerHTML += followers
            document.getElementById('following').innerHTML += following
            var profile_link = document.getElementById('profile_link');
            profile_link.href = "http://hive.blog/@" + username
            document.getElementById('tip_button').onclick=function(){profileTip(username)};
            document.getElementById("profile_image").src = profile_image;
            displayPosts()
            document.title = "HiveSharer - @"+username;
          }
          else {
            alert('API Call failed, try again!')
          }
        }
      });

      function displayPosts(){
        $.ajax({
          url: '/api/accountposts?account='+account,
          contentType: "application/json",
          dataType: 'json',
          success: function(result){
            //console.log("API result: " + JSON.stringify(result))
            if(JSON.stringify(result) != '{"success":false}') {
              //sort array by time of creation, new on the top
              var sorted = result.sort((a,b)=> parseFloat(b.time) - parseFloat(a.time))
              document.getElementById('posts').innerHTML = ''
              for(i=0;i<result.length;i++){
                var {time, link, author, id, title, description, votes, comments} = sorted[i]
                var html = `<div class="plx-card silver">
                  <div class="pxc-subcard total">
                      <div class="pxc-title"><i class="fas fa-hand-holding-usd fa-border" onclick='tip("${link}", "${author}")'></i> <i class="fas fa-arrow-up fa-border" onclick=submitVote("${id}")></i> <a class='underline' onclick='displayPost("${time}", "${link}", "${author}", "${id}", "${title}", "${description}", "${votes}", "${comments}")'>${title}</a></div>
                      <div class="pxc-sub"><a href='/profile?account=${author}'>@${author}</a> - ${description}</div>
                    <div class="bottom-row">
                      <a class='link' href='${link}' class='button1'>${link}</a>  &nbsp - ${votes} Votes - ${comments} Comments -&nbsp <a onclick="displayTime('${time}')"> ${moment.unix(Number(time) / 1000).fromNow()}</a>
                    </div>
                  </div>
                </div>`
                document.getElementById('posts').innerHTML += html
              }
            }
            else {
              alert('API Call failed, try again!')
              console.log("API result: " + JSON.stringify(result))
            }
          }
        });
      }
    }
    </script>
  </body>
</html>
